img{max-height:350px;max-width:350px;}
p{position:fixed; right:1%; top:0;z-index:1; background-color:white;font-size:18pt; color:black;text-decoration:none;font-weight:;}
td{text-align:center; font-size:20pt; border-bottom:2px solid black;}
table{ border:0;} a{ color:inherit; text-decoration:inherit;}}
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px}
::-webkit-scrollbar-track {
background-color:#000000;}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#cacaca;}
::-webkit-scrollbar-thumb:hover{
background-color:#aaaaaa;}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:6px;
height:0px}
::-webkit-scrollbar{
width: 6px;}